/*plz dont sue me for using the Space Jam logo*/
html {  background: url(https://wallpaperaccess.com/full/1521893.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.hide {
    display: none;
}
.left {
    float: left;
}
.right {float: right;
   
}
.clear {
    clear: both;
}
h1 {color: lawngreen;
    text-align: center;
}

#reset-container {
    color:white;
    text-align: center;
}

#space {
    position: relative;
    top: 270px;
    left: 500px
    ;}